<div class="ui container middle aligned center aligned grid">
  <div class="column">
    <a class="ui center aligned icon header" href="jobs.html">
      <h2>
        <i class="briefcase icon"></i>
        Jobs
      </h2>
    </a>
    <div class="ui four doubling stackable cards" id="job-cards">
    </div>
    <div class="ui segment">
      <div class="ui pagination menu">
        <a class="active item">
          1
        </a>
        <div class="disabled item">
          ...
        </div>
        <a class="item">
          10
        </a>
        <a class="item">
          11
        </a>
        <a class="item">
          12
        </a>
      </div>
    </div>
  </div>
</div>
