<div class="ui stackable container pointing menu sticky">
  <a class="header item" href="src/template/page/home.html" name="home">
    Home
  </a>
  <a class="item" href="src/template/page/jobs.html" name="jobs">
    <p> Jobs </p>
  </a>
  <div class="right menu">
    <a class="item" href="src/template/page/signup.html" name="signup">
      <div class="ui fluid primary button ">Sign up</div>
    </a>
    <a class="item center" href="src/template/page/login.html" name="login">
      <div class="ui fluid button">Log-in</div>
    </a>
  </div>
</div>
