<div class="ui stackable container pointing menu sticky">
  <a class="header item" href="src/template/page/home.html">
    Home
  </a>
  <a class="item" href="src/template/page/jobs.html">
    <p> Jobs </p>
  </a>
  <a class="item" href="src/template/page/freelancers.html">
    <p> Freelancers </p>
  </a>
  <div class="right menu">
    <a class="item" href="src/template/page/signup.html">
      <div class="ui fluid primary button ">Sign up</div>
    </a>
    <a class="item center" href="src/template/page/login.html">
      <div class="ui fluid button">Log-in</div>
    </a>
  </div>
</div>
