<div class="ui segment">
  <div class="ui icon header">
    Replies
  </div>
  <div class="ui list">
    {{each messages}}
    <div class="item">
      <div class="meta">
        ${$value.author.personalData.firstName} ${$value.author.personalData.lastName}
      </div>
      <div class="content">
        <div class="description">${$value.text}</div>
      </div>
      {{if currentUser.id != $value.author.id}}
      <div class="right floated content">
        <div class="ui primary button" data-action="set-freelancer" data-target="select-user" data-job-id="${$value.id}" data-freelancer-id="${value.author.id}">Add</div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
