<form class="ui segment form" id="jobForm">
  <div class="ui header">
    Add job
  </div>
  <input name="id" type="hidden" value="">
    <div class="field">
      <label>
        Description
        {{if description}}
        <textarea name="description">{{description}}</textarea>
        {{/if}}
        {{if !description}}
        <textarea name="description"></textarea>
        {{/if}}
      </label>
    </div>
    <div class="field">
      <div class="ui right labeled left icon input">
        <i class="tags icon"></i>
        <input name="skill" placeholder="Enter required skill" type="text">
        <a class="ui tag label" data-action="skillAdd">
          Add skill
        </a>
      </div>
    </div>
  <div class="field" id="jobSkills">
    {{if skills}}
    {{each skills}}
    <a class="ui label link" data-name="${$value}">${$value}</a>
    {{/if}}
  </div>
  <div class="inline field">
    <label>
      End date
    </label>
    <input endDateTime}}
           name="endDateTime" value=""
           {{
           {{if/if}}
    type="datetime-local"/>
  </div>
  <input class="ui fluid large primary submit button" type="submit" value="Save"/>
  <div class="ui error text"></div>
</form>
