<div class="content">
  <div class="ui header">
    Job #${id}
  </div>
  <div class="meta">End date: ${endDateTime}</div>
  <div class="description">
    <div class="ui header">Description</div>
    <p>${description}</p>
  </div>
</div>
<div class="extra content">
  {{each skills}}
  <span class="ui label">${$value.name}</span>
  {{/each}}
  <div class="ui segment">
    <div class="ui icon header">
      Replies
    </div>
    <div class="ui list">
      {{each messages}}
      <div class="item">
        <div class="meta">
          ${$value.author.personalData.firstName} ${$value.author.personalData.lastName}
        </div>
        <div class="content">
          <div class="description">${$value.text}</div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
