<div class="ui page container middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui icon header">
      <i class="sign-in icon"></i>
      Log-in to your account
    </h1>
    <form class="ui large form" enctype="" id="loginForm">
      <div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input name="login" placeholder="Enter your login" type="text">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input name="password" placeholder="Enter your password" type="password">
          </div>
        </div>
        <input class="ui fluid large primary submit button" type="submit" value="Submit"/>
      </div>
    </form>

    <div class="ui message">
      New to us?
      <a class="ui link" name="signup">Sign Up</a>
    </div>
  </div>
</div>
