<div class="ui container middle aligned grid">
  <div class="column">
    <div class="ui centered green fluid card">
      <div class="content center aligned">
        <div class="header">
          {{if !personalData}}
          @${loginInfo.login}
          {{/if}}
          {{if personalData}}
          ${personalData.firstName} ${personalData.lastName}
          {{/if}}
        </div>
      </div>
      <div class="extra content">
        Current state: ${currentState.name}
      </div>
      {{if currentState.name == 'Unverified'}}
      <div class="ui link basic attached bottom button" name="personal_data">Edit</div>
      {{/if}}
    </div>
      {{if freelancerProfile}}
    <div class="ui fluid card" id="${freelancerProfile.id}">
        <div class="content">
          <div class="header">Freelancer profile</div>
          <div class="description">
            ${freelancerProfile.description}
          </div>
        </div>
        <div class="extra content">
          {{each freelancerProfile.skills}}
          <span class="ui label">${name}</span>
          {{/each}}
        </div>
    </div>
      {{/if}}
      {{if !freelancerProfile}}
      <form class="ui form" id="freelancerProfileForm">
        <div class="ui segment">
          <div class="field">
            <label>Description</label>
            <textarea name="description"></textarea>
          </div>
          <div class="field">
            <div class="ui right labeled left icon input">
              <i class="tags icon"></i>
              <input name="skill" placeholder="Enter skill" type="text">
              <a class="ui tag label" data-action="skillAdd">
                Add skill
              </a>
            </div>
          </div>
          <div class="field" id="freelancerSkills">
            <div class="ui tag label">Delete</div>
          </div>
          <input class="ui fluid large primary submit button" type="submit" value="Save"/>
        </div>
      </form>
      {{/if}}
      {{if employerProfile}}
      <div class="ui fluid card">
        <div class="content">
          <div class="header center aligned">Employer profile</div>
          <div class="description">
            ${employerProfile.description}
          </div>
        </div>
        <div class="ui basic attached bottom primary button">Update</div>
        <div class="extra content">
          <div class="meta">
            Published jobs
          </div>
          <div class="ui four doubling stackable cards" id="job-cards">
            {{if employerProfile.jobs}}
            {{each employerProfile.jobs}}
            <div class="ui link card">
              <div class="content">
                <div class="header">Create Twitter</div>
                <div class="meta"></div>
                <div class="description">
                  ${description}
                </div>
              </div>
              <div class="extra content">
                {{each $skills}}
                <span class="ui label">${skill.name}</span>
                {{/each}}
              </div>
              <div class="ui basic attached bottom primary button">Update</div>
            </div>
            {{/each}}
            {{/if}}
          </div>
          <form class="ui form" id="jobForm">
            <div class="ui segment">
              <div class="ui header">
                Add job
              </div>
              <div class="field">
                <label>
                  Description
                  <textarea name="description"></textarea>
                </label>
              </div>
              <div class="field">
                <label>Skills</label>
                <input name="skill" placeholder="Enter required skill" type="text">
                <div id="jobSkills"></div>
              </div>
              <input class="ui fluid large primary submit button" type="submit" value="Save"/>
            </div>
          </form>
        </div>
      </div>
      {{/if}}
      {{if !employerProfile}}
    <form class="ui form" id="employerProfileForm">
      <div class="ui segment">
        <div class="field">
          <label>Description</label>
          <textarea name="description"></textarea>
        </div>
        <input class="ui fluid large primary submit button" type="submit" value="Save"/>
      </div>
    </form>
      {{/if}}
  </div>
</div>
</div>
