<div class="ui container middle aligned grid">
  <div class="column">
    <div class="ui centered green fluid card">
      <div class="content center aligned">
        <div class="header">
          {{if !personalData}}
          @${loginInfo.login}
          {{/if}}
          {{if personalData}}
          ${personalData.firstName} ${personalData.lastName}
          {{/if}}
        </div>
      </div>
      <div class="extra content">
        Current state: ${currentState.name}
      </div>
      {{if currentState.name == 'Unverified'}}
      <div class="ui link basic attached bottom button" name="personal_data">Edit</div>
      {{/if}}
    </div>
    <div class="ui fluid card" id="freelancerProfile">
      <div class="content">
        <div class="header">Freelancer profile</div>
        {{if freelancerProfile}}
        <div class="description">
          ${freelancerProfile.description}
        </div>
        {{/if}}
      </div>
      {{if freelancerProfile}}
      <div class="extra content">
        {{each freelancerProfile.skills}}
        <span class="ui label">${$value}</span>
        {{/each}}
      </div>
      <div class="ui basic attached bottom primary button" data-action="update" data-target="freelancerProfileFormModal">Update</div>
      {{/if}}
      {{if !freelancerProfile && currentState.name == 'Verified'}}
      <div class="ui basic attached bottom green button" data-action="update" data-target="freelancerProfileFormModal">Create</div>
      {{/if}}
    </div>
    <div class="ui fluid card" id="employerProfile">
      <div class="content">
        <div class="header">Employer profile</div>
        {{if employerProfile}}
          <div class="description">
            ${employerProfile.description}
          </div>
        {{/if}}
      </div>
      {{if employerProfile}}
      <div class="ui basic attached bottom primary button" data-action="update" data-target="employerProfileFormModal">Update</div>
      {{/if}}
      {{if !employerProfile && currentState.name == 'Verified'}}
      <div class="ui basic attached bottom green button" data-action="update" data-target="employerProfileFormModal">Create</div>
      {{/if}}
    </div>
    {{if employerProfile}}
    <div class="ui fluid card">
      <div class="content">
      <div class="header">
        Published jobs
      </div>
      </div>
      <div class="extra content">
        <div class="ui four doubling stackable cards" id="job-cards">
          {{if employerProfile.jobs}}
          {{each employerProfile.jobs}}
          <div class="ui link card">
            <div class="content">
              <div class="meta">
                ${$value.currentState.name}
              </div>
              <div class="description">
                ${description}
              </div>
            </div>
           <div class="extra content">
              {{each $value.skills}}
              <span class="ui label">${$value.name}</span>
              {{/each}}
            </div>
            {{if $value.currentState.name == 'Published'}}
            <div class="ui basic attached bottom green button" data-action="start" data-id="${$value.id}">Start</div>
            {{/if}}
            {{if $value.currentState.name == 'Started'}}
            <div class="ui basic attached bottom primary button" data-action="finish" data-id="${$value.id}">Finish</div>
            {{/if}}
            {{if $value.currentState.name == 'Finished'}}
            <div class="ui basic attached bottom red button" data-action="delete" data-id="${$value.id}">Delete</div>
            {{/if}}
          </div>
          {{/each}}
          {{/if}}
        </div>
      </div>
      <div class="ui basic attached bottom green button" data-action="create" data-target="jobFormModal">Create</div>
    </div>
    {{/if}}
    <div class="ui modal" id="jobFormModal">
      <form class="ui segment form" id="jobForm">
        <div class="ui header">
          Add job
        </div>
        <input name="id" type="hidden" value="">
        <div class="field">
          <label>
            Description
            <textarea name="description"></textarea>
          </label>
        </div>
        <div class="field">
          <div class="ui right labeled left icon input">
            <i class="tags icon"></i>
            <input name="skill" placeholder="Enter required skill" type="text">
            <a class="ui tag label" data-action="skillAdd">
              Add skill
            </a>
          </div>
        </div>
        <div class="field" id="jobSkills"></div>
        <div class="inline field">
          <label>
            End date
          </label>
          <input name="endDateTime" type="datetime-local"/>
        </div>
        <input class="ui fluid large primary submit button" type="submit" value="Save"/>
        <div class="ui error text"></div>
      </form>
    </div>
    <div class="ui modal" id="freelancerProfileFormModal">
      <form class="ui segment form" id="freelancerProfileForm">
        <div class="field">
          <label>Description</label>
          {{if freelancerProfile}}
          <textarea name="description">${freelancerProfile.description}</textarea>
          {{/if}}
          {{if !freelancerProfile}}
          <textarea name="description"></textarea>
          {{/if}}
        </div>
        <div class="field">
          <div class="ui right labeled left icon input">
            <i class="tags icon"></i>
            <input name="skill" placeholder="Enter skill" type="text">
            <a class="ui tag label" data-action="skillAdd">
              Add skill
            </a>
          </div>
        </div>
        <div class="field" id="freelancerSkills">
          {{if freelancerProfile}}
          {{each freelancerProfile.skills}}
          <a class="ui label link" data-name="${$value}">${$value}</a>
          {{/each}}
          {{/if}}
        </div>
        <input class="ui fluid large primary submit button" type="submit" value="Save"/>
        <div class="ui error text"></div>
      </form>
    </div>
    <div class="ui modal" id="employerProfileFormModal">
      <form class="ui segment form" id="employerProfileForm">
        <div class="field">
          <label>Description</label>
          {{if employerProfile}}
          <textarea name="description">${employerProfile.description}</textarea>
          {{/if}}
          {{if !employerProfile}}
          <textarea name="description"></textarea>
          {{/if}}
        </div>
        <input class="ui fluid large primary submit button" type="submit" value="Save"/>
        <div class="ui error text"></div>
      </form>
    </div>
  </div>
</div>
</div>
