<div class="ui container middle aligned center aligned grid">
  <div class="column">
    <a class="ui center aligned icon header" href="freelancers.html">
      <h2>
        <i class="user icon"></i>
        Freelancers
      </h2>
    </a>
    <div class="ui four doubling stackable cards">
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
      <a class="ui link card">
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">node.js</span>
        </div>
      </a>
    </div>
  </div>
</div>
