<div class="ui container middle aligned center aligned grid">
  <div class="column">
    <div class="ui dimmer">
      <div class="ui loader"></div>
    </div>
    <a class="ui center aligned icon header" href="freelancers.html">
      <h2>
        <i class="user icon"></i>
        Freelancers
      </h2>
    </a>
    <div class="ui four doubling stackable cards" id="freelancer-cards"></div>
    <div class="ui segment">
      <div class="ui pagination menu">
        <a class="active item">
          1
        </a>
        <div class="disabled item">
          ...
        </div>
        <a class="item">
          10
        </a>
        <a class="item">
          11
        </a>
        <a class="item">
          12
        </a>
      </div>
    </div>
  </div>
</div>
