<div class="ui container middle aligned center aligned grid">
  <div class="one column row">
    <div class="column">
      <h1 class="ui center aligned header icon">
        <i class="search icon"></i>
        I am looking for...
      </h1>
    </div>
  </div>
  <div class="two column row">
    <div class="column">
      <div class="ui segment">
        <a class="ui center aligned icon header" href="src/template/page/jobs.html" value="jobs">
          <h2>
            <i class="briefcase icon"></i>
            Jobs
          </h2>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <a class="ui center aligned icon header" href="src/template/page/freelancers.html" value="freelancers">
          <h2>
            <i class="user icon"></i>
            Freelancers
          </h2>
        </a>
      </div>
    </div>
  </div>
</div>
