<div class="ui container middle aligned center aligned grid">
  <div class="column">
    <a class="ui center aligned icon header" href="jobs.html">
      <h2>
        <i class="briefcase icon"></i>
        Jobs
      </h2>
    </a>
    <div class="ui four doubling stackable cards">
      <a class="ui link card" href="#">
        <div class="content">
          <div class="header">Create Facebook</div>
          <div class="meta">
          </div>
          <div class="description">
            <img class="ui wireframe image" src="src/img/paragraph.png">
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">PHP</span>
        </div>
      </a>
      <a class="ui link card" href="#">
        <div class="content">
          <div class="header">Create Facebook</div>
          <div class="meta">
          </div>
          <div class="description">
            <img class="ui wireframe image" src="src/img/paragraph.png">
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">PHP</span>
        </div>
      </a>
      <a class="ui link card" href="#">
        <div class="content">
          <div class="header">Create Facebook</div>
          <div class="meta">
          </div>
          <div class="description">
            <img class="ui wireframe image" src="src/img/paragraph.png">
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">PHP</span>
        </div>
      </a>
      <a class="ui link card" href="#">
        <div class="content">
          <div class="header">Create Facebook</div>
          <div class="meta">
          </div>
          <div class="description">
            <img class="ui wireframe image" src="src/img/paragraph.png">
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">PHP</span>
        </div>
      </a>
      <a class="ui link card" href="#">
        <div class="content">
          <div class="header">Create Facebook</div>
          <div class="meta">
          </div>
          <div class="description">
            <img class="ui wireframe image" src="src/img/paragraph.png">
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">PHP</span>
        </div>
      </a>
      <a class="ui link card" href="#">
        <div class="content">
          <div class="header">Create Facebook</div>
          <div class="meta">
          </div>
          <div class="description">
            <img class="ui wireframe image" src="src/img/paragraph.png">
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">PHP</span>
        </div>
      </a>
      <a class="ui link card" href="#">
        <div class="content">
          <div class="header">Create Facebook</div>
          <div class="meta">
          </div>
          <div class="description">
            <img class="ui wireframe image" src="src/img/paragraph.png">
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">PHP</span>
        </div>
      </a>
      <a class="ui link card" href="#">
        <div class="content">
          <div class="header">Create Facebook</div>
          <div class="meta">
          </div>
          <div class="description">
            <img class="ui wireframe image" src="src/img/paragraph.png">
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">PHP</span>
        </div>
      </a>
      <a class="ui link card" href="#">
        <div class="content">
          <div class="header">Create Facebook</div>
          <div class="meta">
          </div>
          <div class="description">
            <img class="ui wireframe image" src="src/img/paragraph.png">
          </div>
        </div>
        <div class="extra content">
          <span class="ui label">HTML</span>
          <span class="ui label">CSS3</span>
          <span class="ui label">JS</span>
          <span class="ui label">PHP</span>
        </div>
      </a>
    </div>
  </div>
</div>
