<div class="ui page container middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui center aligned header icon">
      <i class="user plus icon"></i>
      Register
    </h1>
    <form class="ui large form" id="signupForm">
      <div class="ui loader"></div>
      <div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input name="login" placeholder="Enter your login" type="text">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock  icon"></i>
            <input name="password" placeholder="Enter password" type="password"/>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input name="passwordConfirmation" placeholder="Enter password confirmation" type="password"/>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input tabindex="0" type="checkbox"/>
            <label>I agree to the Terms and Conditions</label>
          </div>
        </div>
        <input class="ui fluid large primary submit button" type="submit" value="Register"/>
      </div>
    </form>

    <div class="ui message">
      Already have an account?
      <div class="ui.link" name="login">Sign-in</div>
    </div>
  </div>
</div>
