<div class="ui container middle aligned center aligned grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="header">Nikola Tesla</div>
        <div class="description">Current state: Verified</div>
      </div>
      <div class="extra content">
        Profile Created at: 27 02 2020
      </div>
    </div>
    <div class="ui fluid card">
      <div class="content">
        <div class="header">Freelancer profile</div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id odio ac erat gravida accumsan at nec ex. Nam ornare facilisis
          mauris, eu lobortis ante vestibulum in. Aenean elit lectus, feugiat in efficitur in, lobortis eget dolor. Integer porttitor
          metus
          quis neque condimentum, et consectetur ipsum varius. Vestibulum volutpat, est at convallis aliquam, tortor nisl sodales erat, a
          convallis massa augue ac nisi. Phasellus vel dolor metus. Cras venenatis augue sapien, sed varius nulla vulputate et. Sed in
          tortor
          ligula.
        </div>
      </div>
      <div class="extra content">
        <span class="ui label">HTML</span>
        <span class="ui label">JS</span>
        <span class="ui label">PHP</span>
        <span class="ui label">jQuery</span>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="content">
        <div class="header">Customer profile</div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id odio ac erat gravida accumsan at nec ex. Nam ornare facilisis
          mauris, eu lobortis ante vestibulum in. Aenean elit lectus, feugiat in efficitur in, lobortis eget dolor. Integer porttitor
          metus
          quis neque condimentum, et consectetur ipsum varius. Vestibulum volutpat, est at convallis aliquam, tortor nisl sodales erat, a
          convallis massa augue ac nisi. Phasellus vel dolor metus. Cras venenatis augue sapien, sed varius nulla vulputate et. Sed in
          tortor
          ligula.
        </div>
      </div>
    </div>
  </div>
</div>
