<div class="ui container middle aligned grid">
  <div class="column">
    <div class="ui centered green fluid card">
      <div class="content center aligned">
        <div class="header">
          {{if currentState.name == 'Verified'}}
          ${personalData.firstName} ${personalData.lastName}
          {{/if}}
          {{if currentState.name == 'Unverified'}}
          @${loginInfo.login}
          {{/if}}
        </div>
      </div>
      <div class="extra content">
        Current state: ${currentState.name}
      </div>
      <div class="ui link basic attached bottom button" name="personal_data">Edit</div>
    </div>
    <div id="freelancerProfile"></div>
    <div id="employerProfile"></div>
    </div>
  </div>
</div>
