<div class="ui container middle aligned grid">
  <div class="column">
    <div class="ui centered green fluid card">
      <div class="content center aligned">
        <div class="header">Nikola Tesla</div>
        <div class="description">Current state: Verified</div>
      </div>
      <div class="extra content">
        Profile Created at: 27 02 2020
      </div>
    </div>
    <div class="ui fluid card">
      <div class="content">
        <div class="header center aligned">Freelancer profile</div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id odio ac erat gravida accumsan at nec ex. Nam ornare facilisis
          mauris, eu lobortis ante vestibulum in. Aenean elit lectus, feugiat in efficitur in, lobortis eget dolor. Integer porttitor
          metus
          quis neque condimentum, et consectetur ipsum varius. Vestibulum volutpat, est at convallis aliquam, tortor nisl sodales erat, a
          convallis massa augue ac nisi. Phasellus vel dolor metus. Cras venenatis augue sapien, sed varius nulla vulputate et. Sed in
          tortor
          ligula.
        </div>
      </div>
      <div class="extra content">
        <span class="ui label">HTML</span>
        <span class="ui label">JS</span>
        <span class="ui label">PHP</span>
        <span class="ui label">jQuery</span>
      </div>
      <div class="ui basic buttom attached primary button">Update</div>
    </div>
    <div class="ui fluid card">
      <div class="content">
        <div class="header center aligned">Customer profile</div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id odio ac erat gravida accumsan at nec ex. Nam ornare facilisis
          mauris, eu lobortis ante vestibulum in. Aenean elit lectus, feugiat in efficitur in, lobortis eget dolor. Integer porttitor
          metus
          quis neque condimentum, et consectetur ipsum varius. Vestibulum volutpat, est at convallis aliquam, tortor nisl sodales erat, a
          convallis massa augue ac nisi. Phasellus vel dolor metus. Cras venenatis augue sapien, sed varius nulla vulputate et. Sed in
          tortor
          ligula.
        </div>
      </div>
      <div class="ui basic attached bottom primary button">Update</div>
      <div class="extra content">
        <div class="meta">
          Published jobs
        </div>
        <div class="ui four doubling stackable cards" id="job-cards">
          <a class="ui link card">
            <div class="content">
              <div class="header">Create Twitter</div>
              <div class="meta"></div>
              <div class="description">
                <div class="ui wireframe image">
                  <img src="src/img/paragraph.png"></img>
                </div>
              </div>
            </div>
            <div class="extra content">
              <span class="ui label">HTML</span>
              <span class="ui label">JS</span>
              <span class="ui label">CSS</span>
              <span class="ui label">PHP</span>
            </div>
          </a>
          <a class="ui link card">
            <div class="content">
              <div class="header">Create Instagram</div>
              <div class="meta"></div>
              <div class="description">
                <div class="ui wireframe image">
                  <img src="src/img/paragraph.png"></img>
                </div>
              </div>
            </div>
            <div class="extra content">
              <span class="ui label">HTML</span>
              <span class="ui label">JS</span>
              <span class="ui label">CSS</span>
              <span class="ui label">PHP</span>
            </div>
          </a>
          <a class="ui link card">
            <div class="content">
              <div class="header">Create Telegram</div>
              <div class="meta"></div>
              <div class="description">
                <div class="ui wireframe image">
                  <img src="src/img/paragraph.png"></img>
                </div>
              </div>
            </div>
            <div class="extra content">
              <span class="ui label">HTML</span>
              <span class="ui label">JS</span>
              <span class="ui label">CSS</span>
              <span class="ui label">PHP</span>
            </div>
          </a>
          <a class="ui link card">
            <div class="content">
              <div class="header">Create Facebook</div>
              <div class="meta"></div>
              <div class="description">
                <div class="ui wireframe image">
                  <img src="src/img/paragraph.png"></img>
                </div>
              </div>
            </div>
            <div class="extra content">
              <span class="ui label">HTML</span>
              <span class="ui label">JS</span>
              <span class="ui label">CSS</span>
              <span class="ui label">PHP</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
