<div class="ui container middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui center aligned icon header">
      <i class="users icon"></i>
      Personal data verification request
    </h1>
    <div class="ui four doubling stackable cards" id="personal-data-cards">
      {{each personalData}}
      <div class="ui link card">
        <div class="content">
          <div class="header">${firstName} ${lastName}</div>
        </div>
        <div class="ui basic primary bottom attached animated button" data-action="show" data-id="${$value.id}">
          <div class="hidden content">Consider</div>
          <div class="visible content">
            <i class="eye icon"></i>
          </div>
        </div>
      </div>
      <div class="ui fullscreen modal" id="personalData${$value.id}">
        <div class="header">Personal data</div>
        <div class="image content">
          <img class="image fluid" src="http://localhost:9091/file/${attachment.id}">
          <div class="description">
            <p>First name: ${firstName}</p>
            <p>Last name: ${lastName}</p>
            <p>Document name: ${documentName}</p>
            <p>Document number: ${documentNumber}</p>
            <div class="ui two buttons">
              <div class="ui basic green animated button" data-action="approve" data-id="${id}">
                <div class="hidden content">Approve</div>
                <div class="visible content">
                  <i class="lock open icon"></i>
                </div>
              </div>
              <div class="ui basic yellow animated button" data-action="reject" data-id="${id}">
                <div class="hidden content">Reject</div>
                <div class="visible content">
                  <i class="lock icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{/each}}
    </div>
  </div>
</div>
