<div class="ui container middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui center aligned icon header">
      <i class="paper plane icon"></i>
      Administrators
    </h2>
    <div class="ui four doubling stackable cards" value="request-cards">
      <div class="ui loader"></div>
    </div>
    <div class="ui segment">
      <div class="ui pagination menu">
        <a class="active item">
          1
        </a>
        <div class="disabled item">
          ...
        </div>
        <a class="item">
          10
        </a>
        <a class="item">
          11
        </a>
        <a class="item">
          12
        </a>
      </div>
    </div>
  </div>
</div>
