<div class="ui container middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui center aligned icon header">
      <i class="users icon"></i>
      Users
    </h1>
    <div class="ui four doubling stackable cards" id="user-cards">
      {{each users}}
      <div class="ui link card">
        <div class="content">
          <div class="header">${loginInfo.login}</div>
          <div class="description">${currentState.name}</div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            {{if currentState.name == 'Blocked' && currentState.name != 'Deleted'}}
            <a class="ui basic green button" data-action="unblock" data-id="${$value.id}">Unblock</a>
            {{/if}}
            {{if currentState.name != 'Blocked' && currentState.name != 'Deleted'}}
            <a class="ui basic yellow button" data-action="block" data-id="${$value.id}">Block</a>
            {{/if}}
            {{if currentState.name != 'Deleted'}}
            <a class="ui basic red button" data-action="delete" data-id="${$value.id}">Delete</a>
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
